// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$modal-content-width: 90%;

svg
  .node
    rect
      stroke: #333;
      fill: #fff;
  .edgePath
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;

// Import the rest of Bulma
@import "bulma";

.navbar-item.is-active{font-weight: bold;};

