@import './font/nunito.css';

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$panel-heading-padding: 0.25em 0.5em;

svg
  .node
    rect
      stroke: #333;
      fill: #fff;
  .edgePath
    stroke: #333;
    fill: #333;
    stroke-width: 1.5px;

// Import the rest of Bulma
@import "bulma";
@import '@creativebulma/bulma-tooltip';

.navbar-item.is-active{font-weight: bold;};

.button.has-text-left { justify-content: flex-start; }

.button.has-text-right { justify-content: flex-end; }

// Sticky table headers
table.tree-table
  border-collapse: separate;
  th
    position: sticky;
    background-color: white;
    top: 0
    z-index: 10;

  span[data-tooltip]
    border: none;

  .is-active
    background-color: $dark;
    color: white;

.navbar
  // Align navbar with body content (looks better to me)
  padding: 0 0.75rem;

// Clickable heading anchors
.heading-anchor
  a
    float: left;
    margin-left: -0.7em;

  &:hover
    svg
      visibility: visible;

  svg
    visibility: hidden;
    width: 0.55em !important;

.inspector
  position: sticky;
  top: 10px;
  width: 410px;

  .panel-block
    padding: 0 0 0 1em;
    div
      overflow-y: auto;
      max-height: calc(100vh - 100px);

  .panel-heading
    background-color: $dark;
    color: white;

  table
    table-layout: fixed;

  td:nth-child(1)
    width: 210px;
  td:nth-child(2)
    width: 175px;
    word-wrap: break-word;

  .delete
    float: right;
    margin-top: 3px;
